@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

[x-cloak] { display: none !important; }

@theme {
    --color-primary-50:  #f1f9ff;
    --color-primary-100: #e0f1ff;
    --color-primary-200: #bce4ff;
    --color-primary-300: #86cfff;
    --color-primary-400: #48b2f8;
    --color-primary-500: #1f89c8;
    --color-primary-600: #1f79b1;
    --color-primary-700: #1f6995;
    --color-primary-800: #245b7e;
    --color-primary-900: #28526e;
    --color-primary-950: #263f53;

    --color-dark-50:  #edf2f8;
    --color-dark-100: #dbe6f0;
    --color-dark-200: #c0d2e3;
    --color-dark-300: #98b3cd;
    --color-dark-400: #678eb1;
    --color-dark-500: #1a2733;
    --color-dark-600: #141f29;
    --color-dark-700: #0f1720;
    --color-dark-800: #0b1219;
    --color-dark-900: #080d12;
    --color-dark-950: #05080b;
}

body {
    font-family: "Geomini";
    background-color: #f9fafb;
}